/*
Default Values:
- font-family: 'Roboto Condensed', sans-serif;
- Colors:
Greenish Blue:  #34c6d3     (Buttons, Icons, Links, Lines, Backgrounds)
Steel Gray:     #41464b     (Headings)
Blue Bayoux:    #64707b     (Paragraphs)
White:          #fff        (Texts with black Blackgrounds)
Black:          #000        
*/

/******** General Rules ********/

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    color: #41464b;
    text-transform: uppercase;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

/******** Navigation ********/

.navbar {
    padding: 20px 0px;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.my-nav-class {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 7px 0px;
}

.nav-wrapper {
    padding: 0px 85px;
}

ul.navbar-nav {
    float: right;
}

#main-menu>ul>li.active>a {
    background-color: rgba(0, 0, 0, 0);
    color: #34c6d3;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #34c6d3;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 0px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
}

/******** Home Section ********/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url("../img/bg-home.jpg");
}

#home-content-box {
    height: 100%;
    width: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0px;
}

/******** Animations ********/

#home-cover,
#home-heading,
#home-btn {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

#home-cover {
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

#home-heading {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

#home-btn {
    -webkit-animation-delay: .1s;
    animation-delay: 1s;
}

/******** Parallax ********/

.bg-parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/******** Buttons (General) ********/

.btn-general {
    border-radius: 0;
    padding: 20px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border: #fff 2px solid;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
    border: #34c6d3 2px solid;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}

/******** Content Box (General) ********/

.content-box {
    padding: 30px 0px 6px;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0px auto 30px;
}

/******** Services ********/

.service-item {
    padding: 20px 0px;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i {
    color: #fff;
    background-color: #34c6d3;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.service-item-description p {
    margin: 0px;
    padding-left: 35px;
}

/******** About Section ********/

#about-content-box {
    float: left;
    height: 700px;

}

#about-content-box-outer {
    height: 100%;
    width: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0px 0px 30px;
}

#about-desc p {
    margin-bottom: 30px;
}

#about-bg-diagonal {
    height: 700px;
    width: 60%;
    float: right;
    background-image: url("../img/bg-about.jpg");
    border-left: 200px white solid;
    border-top: 700px transparent solid;
}

/******** Work Section ********/

.row.no-gutters [class*=col-] {
    padding: 0px;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    -webkit-transition: transform .5s ease;
    transition: transform .5s ease;
}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}

/******** Work Section ********/

#team {
    margin-bottom: 40px;
}

.team-member {
    margin: 0px 15px;
}

.team-member-info {
    padding: 10px 0px 30px;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 20px;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}

/******** Social Icon ********/

.social-list {
    padding-left: 0px;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;
}

.social-icon i:hover {
    color: #34c6d3;
}

.icon-gray i {
    color: #64707b;
}

.icon-white i {
    color: #fff;
}

/******** Testimonials ********/

#testimonial-cover {
    background-image: url("../img/bg-testimonials.jpg");
}

#testimonial #testimonial-cove {
    background-color: rgba(0, 0, 0, 1);
}

.content-title-white h3 {
    color: #fff;
}

#customers-testimonials {
    padding: 15px 0px;
}

.testimonial img {
    max-width: 120px;
    margin: 0px auto;
}

.testimonial blockquote {
    border: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 6px 150px;
    position: relative;
}

.testimonial blockquote p::after,
.testimonial blockquote p::before {
    line-height: 1;
    font-style: normal;
    font-size: 80px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.testimonial blockquote p::before {
    content: "\201C";
    top: 0;
    left: 100px;
}

.testimonial blockquote p::after {
    content: "\201D";
    bottom: 0;
    right: 100px;
}

.testimonial blockquote p {
    color: #fff;
}

.testimonial-author p {
    color: #fff;
    font-size: 17px;
}

.testimonial-author p strong {
    display: block;
}

/******** Pricing ********/

.pricing-box {
    border: 3px solid #34c6d3;
    padding: 50px 0px;
    margin: 40px 0px;
}

h4.pricing-title {
    background-color: #34c6d3;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px 0px 30px;
}

h3.pricing-value {
    font-size: 60px;
    font-weight: 700;
}

h3.pricing-value sup {
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

ul.pricing-specification {
    list-style: none;
    padding-left: 0px;
    margin: 20px 0px 60px;
}

ul.pricing-specification li p {
    font-weight: 400;
    text-transform: uppercase;
}

.pricing-box-lg {
    padding: 90px 0px;
    margin: 0px;
    background-color: #34c6d3;
}

.pricing-box-lg h4.pricing-title {
    color: #34c6d3;
    background-color: #fff;
}

.pricing-box-lg ul.pricing-specification li p {
    color: #fff;
}

/******** Stats ********/

#stats-cover {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("../img/bg-stats.jpg");
    position: relative;
    z-index: 0;
}

#stats-cover .dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.stats-item {
    padding: 100px 0px;
}

.stats-item i {
    color: #34c6d3;
}

.stats-item h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
    z-index: 99;
}

.stats-item p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0px;
}

/******** Clients ********/

.client {
    padding: 40px 0px;
}

/******** Contact ********/

footer {
    background-color: #41464b;
    padding: 30px 0px 0px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

#contact-left h3,
#contact-right h3 {
    color: white;
    font-weight: 700;
    font-size: 27px;
}

#contact-left p {
    color: #fff;
    margin-bottom: 30px;
}

#contact-info {
    background-image: url("../img/world-map.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#contact-info address {
    color: #fff;
}

#contact-info address strong,
#phone-fax-email strong {
    letter-spacing: 1px;
    font-size: 16px;
}

form .form-control {
    background-color: transparent;
    border-radius: 0;
    border-color: #fff;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
}

/******** CopyRight Section ********/

#footer-bottom {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 0px;
    margin-top: 60px;
}

#footer-copyrights p {
    margin: 0px;
    color: #fff;

}

#footer-menu {
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

#footer-menu ul li {
    display: inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0px 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #34c6d3;
}